<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="BaseUrl" value="https://api.xero.com"/>
    <add key="ConsumerKey" value="XXXX2BSHM8HES3HPXCTTKLNOKOXXXX"/>
    <add key="ConsumerSecret" value="XXXXBGKXJ07M9N9CNPPBASLDSXXXX"/>
    <add key="CallbackUrl" value="oob"/>
    <add key="SigningCertificate" value="resources\cert\public_privatekey.pfx"/>
    <add key="SigningCertificatePassword" value=""/>
  </appSettings>
</configuration>