<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="BaseUrl" value="https://api.xero.com"/>
    <add key="PartnerBaseUrl" value="https://api-partner.network.web"/>
    <add key="ConsumerKey" value="XXXXXXQSAA2BIME5LHR9MEXMXXXXXX"/>
    <add key="ConsumerSecret" value="XXXXXX1ACYVU8T6P8MQC9NDSXXXXXX"/>
    <add key="CallbackUrl" value="oob"/>
    <add key="SigningCertificate" value="c:\public_privatekey.pfx"/>
    <add key="PartnerCertificate" value="c:\ronan.p12"/>
    <add key="PartnerCertificatePassword" value="xero"/>
  </appSettings>
</configuration>