################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
*/bin/Debug
*/obj/Debug
*/bin
_ReSharper*
*.user
*.suo
*.pfx
*.pem
*.cer
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Pp]ackages/
out/
*.orig

*.nupkg
/.vs
*.DotSettings
*.lnk