<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="BaseUrl" value="https://api.xero.com"/>
    <add key="PartnerBaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="ConsumerKey" value="XXXXKTSZ62S7LKAQMYXQSIQOS8XXXX"/>
    <add key="ConsumerSecret" value="XXXX0YOM0XSCBPSGEPOJJX453XXXX"/>
    <add key="CallbackUrl" value="localhost"/>
    <add key="SigningCertificate" value="resources\cert\public_privatekey.pfx"/>
    <add key="SigningCertificatePassword" value=""/>
    <add key="PartnerCertificate" value="skiesareblue"/>
    <add key="PartnerCertificatePassword" value="rosesarered"/>
  </appSettings>
</configuration>
