<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="BaseUrl" value="https://api.xero.com"/>
    <add key="PartnerBaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="ConsumerKey" value="SAKSZI8JZKNBSUJNZ3AG6XYUA5TUXP"/>
    <add key="ConsumerSecret" value="1NALNQOE2SK783IJYIZAAOSSQKQY6T"/>
    <add key="CallbackUrl" value="localhost"/>
    <add key="SigningCertificate" value="..\..\Resources\cert\public_privatekey.pfx"/>
    <add key="PartnerCertificate" value="skiesareblue"/>
    <add key="PartnerCertificatePassword" value="rosesarered"/>
  </appSettings>
</configuration>
