<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!-- LIVE -->
  <appSettings>
    <add key="BaseUrl" value="https://api.xero.com"/>
    <add key="PartnerBaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="ConsumerKey" value="ZCVRSV7OLR2LXT5EVA0RBRR8I3VVBN"/>
    <add key="ConsumerSecret" value="PTGD5RF5FKZXM5LXZ9H4OZV2R36NEQ"/>
    <add key="CallbackUrl" value="localhost"/>
    <add key="SigningCertificate" value="c:\public_privatekey.pfx"/>
    <add key="PartnerCertificate" value="skiesareblue"/>
    <add key="PartnerCertificatePassword" value="rosesarered"/>
  </appSettings>
  
    
    
<!-- BRANCH 32-->
  <!--<appSettings>
    <add key="BaseUrl" value="https://api.branch32.test.xero.com"/>
    <add key="PartnerBaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="ConsumerKey" value="TN9MRLUTI6T4KHJDWSPMUCFMNWOOGI"/>
    <add key="ConsumerSecret" value="PPK8NMBCUJECX3AX019HNBNBS80NTI"/>
    <add key="CallbackUrl" value="localhost"/>
    <add key="SigningCertificate" value="c:\public_privatekey.pfx"/>
    <add key="PartnerCertificate" value="skiesareblue"/>
    <add key="PartnerCertificatePassword" value="rosesarered"/>
  </appSettings>-->

</configuration>