<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="BaseUrl" value="http://api.web"/>
    <add key="PartnerBaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="ConsumerKey" value="JY98LB5D425UFGB8RDG9LH1CTCSRYS"/>
    <add key="ConsumerSecret" value="0ABCSBNP9I1KRMCTXVNUTGED6JXVBB"/>
    <add key="CallbackUrl" value="localhost"/>
    <add key="SigningCertificate" value="C:\OpenSSL-Win32\bin\public_privatekey.pfx"/>
    <add key="PartnerCertificate" value="skiesareblue"/>
    <add key="PartnerCertificatePassword" value="rosesarered"/>
  </appSettings>
</configuration>